<header>
  <div class="logo">
    <img src="./assets/gallery-icon.png">
    <span>My_Gallery</span>
  </div>

  <div class="actions">
    <div class="refresh-action">
      <svg
        onclick="handleRefresh()"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-refresh-ccw"
      >
        <polyline points="1 4 1 10 7 10"></polyline>
        <polyline points="23 20 23 14 17 14"></polyline>
        <path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path>
      </svg>
    </div>

    <div class="add-new-post-action" style="color: #fff;">
      <input type="file" id="submit_inpt" style="display:none" onchange="loadFile(event)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-plus-circle"
      >
        <circle cx="12" cy="12" r="10"/>
        <line x1="12" y1="8" x2="12" y2="16"/>
        <line x1="8" y1="12" x2="16" y2="12"/>
      </svg>
    </div>
  </div>
</header>

<div class="filter">
  <span id="filter-all" (click)="changeFilter($event.target)">
    TODOS
  </span>

  <span id="filter-liked" onclick="loadByFilter(this.id)">
    GOSTEI
    <i class="fa fa-thumbs-up"></i>
  </span>

  <span id="filter-hearted" onclick="loadByFilter(this.id)">
    AMEI
    <i class="fa fa-heart"></i>
  </span>
</div>

<div class="posts" id="posts" *ngFor="let image of this.gallery">
  <div class="card" id={{image.id}}>
    <div class="card-body">
      <div class="background"></div>

      <!--<div class="number-of-comments">
        <i class="fa fa-download"></i>
        <span>{{image.downloads}}</span>
      </div>-->

      <img src="data:image/png;base64,{{image.image}}">
    </div>

    <div class="card-footer">
      <i class="fa fa-thumbs-up {{image.like && 'thumbs-up-filled'}}"></i>
      <i class="fa fa-heart {{image.love && 'heart-filled'}}"></i>
      <i class="fa fa-download"></i>
      <i class="fa fa-trash"></i>
    </div>
  </div>
</div>
