<header>
  <div class="actions">
    <input type="file" id="submit_inpt" style="display:none" (change)="onFileSelected($event)">
    <img src="/assets/add-image.png" (click)="submitImage()"/>

    <img src="/assets/logout.png" (click)="logout()"/>
  </div>
</header>

<div class="filter">
  <span (click)="load()" ngClass="{{!curentFilterApplied && 'filter-by-all-selected'}}">
    TODOS
  </span>

  <span (click)="load('like')" ngClass="{{curentFilterApplied === 'like' && 'filter-by-like-selected'}}">
    GOSTEI
    <i class="fa fa-thumbs-up"></i>
  </span>

  <span (click)="load('love')" ngClass="{{curentFilterApplied === 'love' && 'filter-by-love-selected'}}">
    AMEI
    <i class="fa fa-heart"></i>
  </span>
</div>

<div class="posts" id="posts">
  <div class="card" id={{image.id}} *ngFor="let image of this.gallery">
    <div class="card-body">
      <div class="background"></div>

      <img src="data:image/png;base64,{{image.image}}">
    </div>

    <div class="card-footer">
      <i class="fa fa-thumbs-up {{image.like && 'thumbs-up-filled'}}" (click)="favorite('like', image.id)"></i>
      <i class="fa fa-heart {{image.love && 'heart-filled'}}" (click)="favorite('love', image.id)"></i>
      <i class="fa fa-download"></i>
      <i class="fa fa-trash" (click)="deleteImage(image.id)"></i>
    </div>
  </div>
</div>
