header {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #9ccad7;

  border-bottom: 5px solid #90bac5;
}

.logo {
  font-family: 'Cookie', cursive;
  font-weight: thin;
  font-size: 1.8rem;
  color: white;

  display: flex;
  align-items: center;
  gap: 5px;

  padding: 5px;
}

.logo img {
  width: 26px;
  height: 26px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions svg {
  color: white;
  cursor: pointer;
}

.add-new-post-action {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.add-new-post-action i {
  font-size: 32px;
  cursor: pointer;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 10px;

  font-weight: bold;
  font-size: 18px;

  color: #9E9E9E;
}

.filter span {
  cursor: pointer;

  display: flex;

  transition: color 0.3s ease-in-out;
}

.filter span i {
  margin-left: 4px;
}

.filter #filter-all {
  border-bottom: 2px solid #8888AF;
}

.filter #filter-liked {
  border-bottom: 2px solid #5564FF;
}

.filter #filter-hearted {
  border-bottom: 4px solid #FC6565;
}

.posts {
  max-width: 1000px;

  margin: auto;

  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
}

.card {
  width: 100%;
  max-width: 300px;

  height: 300px;

  background-color: white;
}

.card-body {
  width: 100%;
  height: 260px;

  position: relative;

}

.card-body img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  position: absolute;

  z-index: 1;

  transition: all 0.3s ease-in-out;
}

.card-body .background {
  width: 100%;
  height: 100%;

  color: white;

  background-color: black;

  z-index: 3;

  opacity: 0;

  position: absolute;

  transition: all 0.35s ease-in-out;
}

.number-of-comments {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 16px;

  position: absolute;

  color: white;

  z-index: 4;

  opacity: 0;

  transition: all 0.35s ease-in-out;
}

.card-body:hover .background {
  opacity: 0.6;
}

.card-body:hover .number-of-comments {
  opacity: 1;
}

.card-body:hover img {
  transform: scale(1.01, 1.01);
}

.card-footer {
  height: 40px;

  border-radius: 0 0 10px 10px;
  border-bottom: 5px solid rgb(136, 136, 175);

  background-color: white;
  color: #9E9E9E;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 24px;
}

.card-footer i {
  cursor: pointer;
}

.card-footer i:hover {
  transform: scale(1.1, 1.1);
}

.thumbs-up-filled {
  color: #5564FF;
}

.heart-filled {
  color: #FC6565;
}

.no-images-warning {
  margin-top: 20px;

  width: 100%;

  color: #9E9E9E;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.no-images-warning img {
  width: 30px;
}
