.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;

  color: #414141;
}

.background {
  background-image: url('https://images4.alphacoders.com/255/255596.jpg');
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
}

.form-container {
  width: 100%;
  max-width: 500px;
  height: 100%;

  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form {
  display: flex;
  flex: 1;
  max-width: 400px;
  flex-direction: column;
  gap: 15px;
}

.form-container form .form-title img {
  width: 38px;
}

.form-container form .form-title {
  font-family: 'Cookie', cursive;
  font-size: 1.5rem;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-container form section {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.form-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8rem;
}

.form-link span {
  cursor: pointer;

  color: #79799a;
}

@media (width <= 800px) {
  .background {
    display: none;
  }

  .container {
    justify-content: center;
  }
}

.loader {
  border: 10px solid transparent;
  border-top: 5px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
