<div class="container">
  <div class="background">
  </div>

  <div class="form-container">
    <form [formGroup]="form">
      <section class="form-title">
        <img src="/assets/gallery-icon.png">
        <h1>My_gallery</h1>
      </section>

      <section>
        <app-input
          id="name"
          type="text"
          label="Nome"
          formControlName="name"
        >
        </app-input>
      </section>

      <section>
        <app-input
          id="email"
          type="email"
          label="Email"
          formControlName="email"
        >
        </app-input>
      </section>

      <section>
        <app-input
          id="password"
          type="password"
          label="Senha"
          formControlName="password"
        >
        </app-input>
      </section>

      <section>
        <app-input
          id="passwordConfirmation"
          type="password"
          label="Confirmar senha"
          formControlName="passwordConfirmation"
        >
        </app-input>
      </section>

      <section class="form-link">
        <span routerLink="/login">Já tem conta ? Fazer login</span>
      </section>

      <button (click)="signUp()">
        <div class="loader" *ngIf="loading"></div>

        <span>Cadastrar</span>
      </button>
    </form>
  </div>
</div>
