<div class="container">
  <div class="background">
  </div>

  <div class="form-container">
    <form [formGroup]="form">
      <section class="form-title">
        <img src="/assets/gallery-icon.png">
        <h1>My_gallery</h1>
      </section>

      <section>
        <label for="name">Nome</label>

        <div class="input-container">
          <input
            type="text"
            formControlName="name"
            id="name"
          >
        </div>
      </section>

      <section>
        <label for="email">Email</label>

        <div class="input-container">
          <input
            type="text"
            formControlName="email"
            id="email"
          >
        </div>
      </section>

      <section>
        <label for="password">Senha</label>

        <div class="input-container">
          <input
            type="password"
            id="password"
            formControlName="password"
          >
        </div>
      </section>

      <section>
        <label for="passwordConfirmation">Confirmar senha</label>

        <div class="input-container">
          <input
            type="password"
            id="passwordConfirmation"
            formControlName="passwordConfirmation"
          >
        </div>
      </section>

      <section class="form-link">
        <span routerLink="/login">Já tem conta ? Fazer login</span>
      </section>

      <button (click)="signUp()">
        <div class="loader" *ngIf="loading"></div>

        <span>Cadastrar</span>
      </button>
    </form>
  </div>
</div>
